.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(15, 225, 68);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(224, 13, 13);
}

.App-link {
  color: #fe4c06;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.product_img{
  object-fit: contain;
  background-color: black;
  width: 100%;
  height: 400px;
}
.getproducts{
  background-color:rgba(73, 69, 65, 0.744) ;
}
/* Import a nice font */

.animated-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;

    /* Animation */
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeSlideDown 1s ease-out forwards;
}

/* Keyframes */
@keyframes fadeSlideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}